#background {
	margin: 0;
	height: 100vh;
	background: radial-gradient(green, black 200%);
}

#menu {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 5px black;
	margin: auto;
	padding: 20px;
	transform: translateY(40vh);
}

#menu table {
	width: 100%;
}

td {
	text-align: center;
}

#listplayers {
	border: 1px solid black;
}

/*******************************/
/* style utilisé par tapis.php */
/*******************************/

img{
	object-fit:scale-down;

}

.pioche{
	width:5%;
}

.terrain {
	min-height: 100%;
	display: grid;
	grid-auto-columns: 20%;
	grid-auto-rows: 20%;
}

.main{
	background:rgba(144, 238, 144, 0.25);
	display: grid;
	grid-auto-columns: 20%;
	grid-auto-rows: 100%;
}

#J{
	grid-row: 5/5;
	grid-column: 2/5 ;
}

#Ad1{
	grid-row: 2/5 ;
	grid-column: 1/1;
}

#Ad2{
	grid-row: 1/1 ;
	grid-column: 2/5;
}

#Ad3{
	grid-row: 2/5;
	grid-column: 5/5 ;
}

#zone-jeu{
	grid-row: 3;
	grid-column: 3;
}

#pioche{

	grid-row: 3;
	grid-column: 4;
}
